@model Content 
<div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 col_6ps1 footer--link">
										<div class="footer-logo">
											<a asp-controller="Home" asp-action="Index"><img src="~/pics/sitepics/LogoImage.png" alt="فصل سفر"
													width="120" height="120" title="آژانس مسافرتی فصل سفر"></a>
										</div>
										<p>@Model.ContentText</p>
									</div>