@model List<Content> 
                                  <ul class="bonus-phone pull-left">
						<li><i class="fa fa-phone" aria-hidden="true"></i> <span>@Model[0].ContentText</span>
						</li>
						<li><i class="fa fa-map-marker" aria-hidden="true"></i>&nbsp;&nbsp;<span>@Model[1].ContentText</span></li>
					</ul>