@model List<Content> 
													<div class="sub-menu">
																	<div class="content">
																		<div class="row">
																			<div class="col-md-12">
																				<ul class="row-list">
																					@foreach(Content item in Model)
																					{
																						<li><a class="subcategory_item"
																							asp-controller="Home" asp-action="ViewContent" asp-route-id="@item.ContentId">@item.ContentTitle</a></li>
																					}
																				</ul>
																			</div>
																		</div>
																	</div>
																	</div>