@model Content 
<div class="module-ques clearfix">
							<h3>سوالی دارید ؟</h3>
							<p>با ما در تماس باشید...</p>
							<ul>
								<li><i class="fa fa-phone" aria-hidden="true"></i>@Model.ContentText</li>
							</ul>
						</div>