@{
    ViewData["Title"] = "یافت نشد";
}

<!-- Main Container  -->
		<div class="main-404 container">
			<div class="content">
				<h2>404</h2>
				<h3>خطا - صفحه یافت نشد</h3>
				<p>اوه! صفحه مورد نظر شما در سایت وجود ندارد.<br>این صفحه منتقل یا حذف شده است، به صفحه اصلی سایت
					بازگردید!</p>
				<a asp-controller="Home" asp-action="Index" class="go-home">بازگشت به خانه</a>
			</div>
		</div>
		<!-- //Main Container -->
