@model FasleSafar.Models.AddTourVM

@{
    ViewData["Title"] = "افزودن تور";
     Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="col-sm-12">
    <div class="card-box">
<div class="row">
    <div class="col-lg-6">
         <h4 class="header-title m-t-0 m-b-30">افزودن تور</h4>
        <form  class="form-horizontal" asp-action="AddTour" method="post" enctype="multipart/form-data">
        <input id="tourId" type="hidden" asp-for="TourId" value="0" />

             <div class="form-group">
                <label asp-for="TourTitle" class="control-label"></label>
                <input asp-for="TourTitle" class="form-control" />
                <span asp-validation-for="TourTitle" class="text-danger"></span>
            </div>
             <div class="form-group">
                <label asp-for="TourType" class="control-label"></label>
                <select asp-for="TourType" class ="form-control">
                   <option value="داخلی">داخلی</option>
                    <option value="خارجی">خارجی</option>
                </select>
                <span asp-validation-for="TourType" class="text-danger"></span>  
            </div>
             <div class="form-group">
                <label asp-for="TransportType" class="control-label"></label>
                <select asp-for="TransportType" class ="form-control">
                   <option value="زمینی">زمینی</option>
                    <option value="هوایی">هوایی</option>
                </select>
                <span asp-validation-for="TransportType" class="text-danger"></span>  
            </div>
            <div class="form-group">
                <label asp-for="DestinationId" class="control-label"></label>
                <select asp-for="DestinationId" class ="form-control" asp-items="@(new SelectList(ViewBag.Destinations, nameof(Destination.DestinationId), nameof(Destination.DestinationName )))">
                   @*<option disabled selected> یک مقصد را انتخاب کنید</option>*@
                </select>
                <span asp-validation-for="DestinationId" class="text-danger"></span>  
            </div>
             <div class="form-group">
                <label asp-for="GeoCoordinates" class="control-label"></label>
                <input asp-for="GeoCoordinates" class="form-control" />
                <span asp-validation-for="GeoCoordinates" class="text-danger"></span>
            </div>
             <div class="form-group">
                <label asp-for="Capacity" class="control-label"></label>
                <input asp-for="Capacity" type="number" min="1" max="1000" value="1" class="form-control" />
                <span asp-validation-for="Capacity" class="text-danger"></span>
            </div>
             <div class="form-group">
                <label asp-for="DaysCount" class="control-label"></label>
                <input asp-for="DaysCount" type="number" min="1" value="1" max="30" class="form-control" />
                <span asp-validation-for="DaysCount" class="text-danger"></span>
            </div>
             <div class="form-group">
	                    <label asp-for="StartDate" class="control-label" for="data-toggle"></label>
                        <input asp-for="StartDate" type="text" id="calender-input" class="form-control">
					    <span class="text-danger" asp-validation-for="StartDate"></span>
	                </div>
                    <div class="form-group">
                        <label asp-for="ReachTime" class="control-label"></label>
                        <input asp-for="ReachTime" class="form-control" />
                        <span asp-validation-for="ReachTime" class="text-danger"></span>
                    </div>
                    <div class="form-group">
	                    <label asp-for="EndDate" class="control-label" for="data-toggle"></label>
                        <input asp-for="EndDate" type="text" id="calender-input2" class="form-control">
					    <span class="text-danger" asp-validation-for="EndDate"></span>
	                </div>
                    <div class="form-group">
                        <label asp-for="ReturnTime" class="control-label"></label>
                        <input asp-for="ReturnTime" class="form-control" />
                        <span asp-validation-for="ReturnTime" class="text-danger"></span>
                    </div>
              
              <div class="form-check">
                <input asp-for="IsLeasing" type="checkbox" id="LeasingCB" class="form-check-input" />
                <label for="LeasingCB">فروش اقساطی</label>
                <span asp-validation-for="IsLeasing" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Vehicle" class="control-label"></label>
                <input asp-for="Vehicle" class="form-control" />
                <span asp-validation-for="Vehicle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TourDescription" class="control-label"></label>
                 <textarea asp-for="TourDescription" cols="6" rows="8" class="form-control" ></textarea>
                <span asp-validation-for="TourDescription" class="text-danger"></span>
            </div>
             <div class="form-group">
                <label asp-for="Attractions" class="control-label"></label>&nbsp;&nbsp;<label class="control-label">جدا سازی با (Enter)</label>
                 <textarea asp-for="Attractions" cols="6" rows="5" class="form-control" ></textarea>
                <span asp-validation-for="Attractions" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IncludeCosts" class="control-label"></label>&nbsp;&nbsp;<label class="control-label">جدا سازی با (Enter)</label>
                 <textarea asp-for="IncludeCosts" cols="6" rows="5" class="form-control" ></textarea>
                <span asp-validation-for="IncludeCosts" class="text-danger"></span>
            </div>
            <div class="form-group">
                 <label asp-for="ExcludeCosts" class="control-label"></label><label class="control-label">جدا سازی با (Enter)</label>
                 <textarea asp-for="ExcludeCosts" cols="6" rows="5" class="form-control" ></textarea>
                <span asp-validation-for="ExcludeCosts" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Facilities" class="control-label"></label><label class="control-label">جدا سازی با (Enter)</label>
                 <textarea asp-for="Facilities" cols="6" rows="5" class="form-control" ></textarea>
                <span asp-validation-for="Facilities" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BigTourImage" class="control-label"></label>
                <input asp-for="BigTourImage" class="dropify" accept="image/png, image/jpeg">
                <br /><span asp-validation-for="BigTourImage" class="text-danger"></span>  
            </div>
            <div class="form-group">
                <label asp-for="AlbumImages" class="control-label"></label>
                <input asp-for="AlbumImages" class="dropify" accept="image/png, image/jpeg" multiple>
                <br /><span asp-validation-for="AlbumImages" class="text-danger"></span>  
            </div>
                <div class="form-check">
                <input asp-for="AvaliableOnlinePay" type="checkbox" id="AvaliableOnlinePayCB" class="form-check-input" />
                <label for="AvaliableOnlinePayCB">امکان پرداحت آنلاین</label>
                <span asp-validation-for="AvaliableOnlinePay" class="text-danger"></span>
            </div>
            @* <div class="form-group">
                <label asp-for="SmallTourImage" class="control-label"></label>
                    <input asp-for="SmallTourImage" class="dropify"  accept="image/png, image/jpeg">
                <br /><span asp-validation-for="SmallTourImage" class="text-danger"></span>  
            </div>*@

                    <br /><div class="table-responsive">
                        <a class="btn mtgridbtn" onclick="addRow()" type="button">
                            <i class="fa fa-plus"></i> افزودن
                        </a>

                        <table class="table" id="dynamicTable2">
                            <input type="hidden" id="data-json" name="data">

                            <thead>
                                <tr>
                                    <th>
                                        عنوان قیمت <span class="required-field">★</span>
                                    </th>
                                    <th>
                                        قیمت برای بزرگسال
                                    </th>
                                    <th>
                                       قیمت برای کودک زیر 12 سال
                                    </th>
                                    <th>
                                        قیمت برای کودک زیر 2 سال
                                    </th>
                                    <th>حذف</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                        <div id="error-message" class="tblErr"></div>
                        <a type="button" id="validatebtn" class="btn btn-purple postbtn btn-rounded w-md waves-effect waves-light m-b-5" onclick="validateForm()" >ذخیره قیمت ها</a>
                    </div><br />

           <button type="submit" id="acceptbtn" class="savebtn btn btn-success btn-rounded w-md waves-effect waves-light m-b-5">ذخیره</button>
            <a asp-action="ShowTours" asp-route-pageid="@ViewBag.ToursPageID" type="button" class="savebtn btn btn-danger btn-rounded w-md waves-effect waves-light m-b-5">بازگشت</a>
        </form>
    </div>
</div>
</div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");
      await Html.RenderPartialAsync("_CalendarScriptsPartial");
       <script src="~/js/dynamicTbl2.js"></script>
}
}
