.area-ghavanin {
    width: 100%;
    height: 150px;
    background-color: whitesmoke;
    border: 1px dotted #2db2ff;
}
.lbl-gh {
    padding: 10px;
    font-weight: bold;
    font-size: 16px;
    color: black;
}



.whatsapp-icon {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 999;
}

    .whatsapp-icon img {
        width: 50px;
        height: 50px;
    }

    .whatsapp-icon:hover::before {
        white-space: nowrap;
        content: "واتس اپ ما";
        position: absolute;
        bottom: 100%;
        left: 50%;
        transform: translateX(-50%);
        background-color: rgb(45, 178, 255);
        color: #000;
        padding: 5px 10px;
        border-radius: 5px;
        font-size: 12px;
    }


.checkbox-wrapper-15 .cbx {
    -webkit-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    cursor: pointer;
}

.checkbox-wrapper-15 .cbx span {
    display: inline-block;
    vertical-align: middle;
    transform: translate3d(0, 0, 0);
}
@media screen and (max-width: 480px) {
    .form-control {
        width: 120px;
    }
}
@media screen and (max-width: 1290px) {
    .form-control {
        width: 120px;
    }
}
.checkbox-wrapper-15 .cbx span:first-child {
    position: relative;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    transform: scale(1);
    vertical-align: middle;
    border: 1px solid #B9B8C3;
    transition: all 0.2s ease;
}

        .checkbox-wrapper-15 .cbx span:first-child svg {
            position: absolute;
            z-index: 1;
            top: 8px;
            left: 6px;
            fill: none;
            stroke: white;
            stroke-width: 2;
            stroke-linecap: round;
            stroke-linejoin: round;
            stroke-dasharray: 16px;
            stroke-dashoffset: 16px;
            transition: all 0.3s ease;
            transition-delay: 0.1s;
            transform: translate3d(0, 0, 0);
        }

        .checkbox-wrapper-15 .cbx span:first-child:before {
            content: "";
            width: 100%;
            height: 100%;
            background: #506EEC;
            display: block;
            transform: scale(0);
            opacity: 1;
            border-radius: 50%;
            transition-delay: 0.2s;
        }

    .checkbox-wrapper-15 .cbx span:last-child {
        margin-left: 8px;
    }

        .checkbox-wrapper-15 .cbx span:last-child:after {
            content: "";
            position: absolute;
            top: 8px;
            left: 0;
            height: 1px;
            width: 100%;
            background: #B9B8C3;
            transform-origin: 0 0;
            transform: scaleX(0);
        }

.checkbox-wrapper-15 .cbx:hover span:first-child {
    border-color: #3c53c7;
}

@media screen and (max-width:568px) {
    .form-control {
        width: 120px;
    }
}

@media screen and (max-width:667px) {
    .form-control {
        width: 120px;
    }
}

.checkbox-wrapper-15 .inp-cbx:checked + .cbx span:first-child {
    border-color: #3c53c7;
    background: #3c53c7;
    animation: check-15 0.6s ease;
}

    .checkbox-wrapper-15 .inp-cbx:checked + .cbx span:first-child svg {
        stroke-dashoffset: 0;
    }

    .checkbox-wrapper-15 .inp-cbx:checked + .cbx span:first-child:before {
        transform: scale(2.2);
        opacity: 0;
        transition: all 0.6s ease;
    }

.checkbox-wrapper-15 .inp-cbx:checked + .cbx span:last-child {
    color: #B9B8C3;
    transition: all 0.3s ease;
}
@media screen and (max-width:640px) {
    .form-control {
        width: 120px;
    }
}

@media screen and (max-width:320px) {
    .form-control {
        width: 120px;
    }
}



    .checkbox-wrapper-15 .inp-cbx:checked + .cbx span:last-child:after {
        transform: scaleX(1);
        transition: all 0.3s ease;
    }

@keyframes check-15 {
    50% {
        transform: scale(1.2);
    }
}



