@model FasleSafar.Models.SignupVM
@{
    ViewData["Title"] = "ویرایش اطلاعات";
}

		<div class="breadcrumbs">
			<div class="container">
				<div class="title-breadcrumb">
					ویرایش اطلاعات @User.Identity.Name
				</div>
				<ul class="breadcrumb-cate">
					<li><a  asp-controller="Home" asp-action="Index">خانه</a></li>
					<li><a asp-controller="Account" asp-action="EditInfo">ویرایش اطلاعات</a></li>
				</ul>
			</div>
		</div>
				<div class="main-container container main-require">
			<div class="row">
				<div id="content" class="col-md-9">
					<form asp-controller="Account" asp-action="EditInfo" method="post" class="form-infomation clearfix">
														 <fieldset
														class="tour-infomation clearfix">
														<h3>ویرایش اطلاعات</h3>
														<input type="hidden" asp-for="UserId" />
														<input type="hidden" asp-for="IsAdmin" />
														<div class="form-item item1 required">
								<label asp-for="FullName" class="control-label"></label>
								<input asp-for="FullName" type="text">
								<span asp-validation-for="FullName" class="text-danger"></span>
							</div>
														<div class="form-item item1 required">
								<label asp-for="Email" class="control-label"></label>
								<input asp-for="Email">
								<span asp-validation-for="Email" class="text-danger"></span>
							</div>
														<div class="form-item item2 required">
								<label asp-for="MobileNumber" class="control-label"></label>
								<input asp-for="MobileNumber" type="tel" onkeypress="return isNumber(event);" pattern="\d+">
								<span asp-validation-for="MobileNumber" class="text-danger"></span>
							</div>
														<div class="form-item item1 required">
								<label asp-for="Password" class="control-label"></label>
								<input asp-for="Password" type="password">
								<span asp-validation-for="Password" class="text-danger"></span>
							</div>
							<div class="form-item item2 required">
								<label asp-for="RePassword" class="control-label"></label>
								<input asp-for="RePassword" type="password">
								<span asp-validation-for="RePassword" class="text-danger"></span>
							</div>
							<div class="buttons clearfix">
							<input type="submit" value="ویرایش" class="btn btn-primary regbtn">
						</div>
						</fieldset>
					</form>
				</div>
			</div>
		</div>

		<!-- //Main Container -->

		@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}