@model FasleSafar.Models.ResetPasswordVM
@{
	ViewData["Title"] = "بازنشانی کلمه عبور";
}

		<div class="breadcrumbs">
			<div class="container">
				<div class="title-breadcrumb">
					بازنشانی کلمه عبور
				</div>
				<ul class="breadcrumb-cate">
					<li><a  asp-controller="Home" asp-action="Index">خانه</a></li>
				</ul>
			</div>
		</div>
		
				<div class="main-container container main-require">
			<div class="row">
				<div id="content" class="col-md-9">
			@if (!string.IsNullOrEmpty(ViewBag.success))
			{
				<div class="grealert">
					<span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
							بازنشانی کلمه عبور با موفقیت انجام شد
				</div>

				<br />
			}
					<form asp-action="ResetPassword" method="post" class="form-infomation clearfix">
														 <fieldset
														class="tour-infomation clearfix">
														<h3>بازنشانی کلمه عبور</h3>
					<input type="hidden" asp-for="UserId">
					<input type="hidden" asp-for="Token">
					<div class="form-item item1 required">
						<label asp-for="NewPassword" class="control-label"></label>
						<input asp-for="NewPassword" type="password">
						<span asp-validation-for="NewPassword" class="text-danger"></span>
					</div>
					<div class="form-item item2 required">
						<label asp-for="ReNewPassword" class="control-label"></label>
						<input asp-for="ReNewPassword" type="password">
						<span asp-validation-for="ReNewPassword" class="text-danger"></span>
					</div>
							 <div>
                     <label class="form-check-label">
						</label>
						</div>
							<div class="buttons clearfix">
							<input type="submit" value="بازنشانی" class="btn btn-primary regbtn">
						</div>
						</fieldset>
					</form>
					<p><a asp-controller="Account" asp-action="Login"><span class="mtlink">وارد</span></a> حساب خود در فصل سفر شوید </p>
				</div>
			</div>
		</div>

		<!-- //Main Container -->

		@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}